@charset "UTF-8";

body{
 background-color:#e0ffff;
 background-image: url(../img/tutu01.jpg);
 background-repeat: repeat-x;
}

h1{
 font-size:1.75em;
 color:#3399cc;
 text-align:center;
 background-color:#fa8072;
}


h2{
 font-size:1.25em;
 color:#ffffff;
 border:#94c8b1 3px dotted;
 border-left:#d0e35b 10px solid;
 margin-bottom: 0;
 padding: 5px 20px;
}

p{
 font-size:0.8em;
 background-color:#48d1cc;
 color:333333;
 :
}

p span{
 color:#d0e35b;
}

p:first-letter{
  font-size: 3em;
}

#lead{
 border-top:#6fbb9a 3px dotted;
 text-align: right;
 background-color:#20b2aa;
}

.greeting{
 border-top:#6fbb9a 3px dotted;
 text-align: center;
 background-color:#5f9ea0;
}
